- var link = 'leaflet-osm-locate'
- var title = 'OSM + Leaflet 學習筆記2：移動中心點、抓目前地點'
- var description = 'OSM + Leaflet 學習筆記2：移動中心點、抓目前地點'

<!DOCTYPE html>
html(lang="zh-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} - August - Let's Write

    link(rel="canonical", href=`https://www.letswrite.tw/${link}/`)
    meta(property="og:url", content=`https://letswritetw.github.io/letswrite-${link}/`)

    meta(property="fb:app_id", content="911000986339138")
    meta(property="og:type", content="website")

    meta(property="og:site_name", content="Let's Write")
    meta(property="og:title", content=`${title} - August - Let's Write`)
    meta(itemprop="name", content=`${title} - August - Let's Write`)

    meta(name="description", content=description)
    meta(property="og:description", content=description)
    meta(itemprop="description", content=description)

    meta(itemprop="image", content=`https://letswritetw.github.io/letswrite-${link}/fb.jpg?v=1.0.2`)
    meta(property="og:image", content=`https://letswritetw.github.io/letswrite-${link}/fb.jpg?v=1.0.2`)
    meta(property="og:image:width", content="1200")
    meta(property="og:image:height", content="630")
    meta(property="og:image:alt", content=title)

    link(rel="shortcut icon", href="https://letswritetw.github.io/letswritetw/dist/img/logo_512.png")

    //- css
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css")
    link(rel="stylesheet", href="dist/style.min.css?v=1.0.2")

    // Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PGQ9WQT');
  body

    // Google Tag Manager (noscript)
    noscript
      iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-PGQ9WQT", height="0", width="0", style="display:none;visibility:hidden")
    
    .container
      .row
        .col.pt-5.text-center
          h1 Leaflet.js 移動中心點、抓目前地點
          h6 筆記文：
            a(href="https://letswrite.tw/leaflet-osm-basic/") Let's Write
      
      hr

      .row.mb-3
        .col
          
          //- 移動到指定座標（平滑 || 縮放 效果）
          .d-flex.align-items-center
            p.mb-0 移動到指定座標：
            a.js-panto.m-1.btn.btn-sm.btn-outline-primary(href="#", data-to="24.99593,121.57629") 捷運動物園站
            a.js-panto.m-1.btn.btn-sm.btn-outline-primary(href="#", data-to="24.99798,121.57460") 捷運木柵站
            a.js-panto.m-1.btn.btn-sm.btn-outline-primary(href="#", data-to="24.99893,121.56782") 捷運萬芳社區站
            .form-check.form-switch.mr-2.ml-3
              input#flyTo.form-check-input(type="checkbox")
              label.form-check-label(for="flyTo") 縮放效果
          
          //- 移動 x, y 位置
          .d-flex.align-items-center
            p.mb-0 移動 x, y 位置：
            a.js-panby.m-1.btn.btn-sm.btn-outline-primary(href="#", data-times="1") x: 50, y: 50
            a.js-panby.m-1.btn.btn-sm.btn-outline-primary(href="#", data-times="2") x: 100, y: 100
            a.js-panby.m-1.btn.btn-sm.btn-outline-primary(href="#", data-times="3") x: 150, y: 150

      //- 地圖
      .row
        .col
          #map

    script(src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js")
    script(src="dist/main.min.js?v=1.0.18")
